@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <div><img src="~/img/coded-homes-logo-large.png" /></div>
        <p class="lead">The leader in imaginary California homes.</p>

        <div class="online deferred">
            <a class="btn btn-large" href="/homes">View Our Homes</a>
            <a class="btn btn-large" href="/homes/new">Add a New Home</a>
        </div>

        <div class="offline deferred">
            <a class="btn btn-large" href="/homes/offline">Add a New Home</a>
        </div>
    </div>
</div>